[submodule "themes/slick"]
	path = themes/slick
	url = https://github.com/spookey/slick.git
[submodule "output"]
	path = public
	url = https://github.com/yukihane/yukihane.github.io.git
[submodule "themes/zdoc"]
	path = themes/zdoc
	url = https://github.com/zzossig/hugo-theme-zdoc.git
[submodule "themes/archie"]
	path = themes/archie
	url = git@github.com:athul/archie.git
